{% extends 'header.html' %}
{% block content %}

<html>
    <head>
        <style>
         
        </style>
    </head>
    <body>
        <center>
        <h1>Forgote Password</h1>
        <form action="{% url 'forgetpassword' %}" method="post">
            {% csrf_token %}
            {% if msg %}
            <b style="color: blue;">{{msg}}</b>
            {% endif %}
            <table>
                
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"></td>
                </tr>
          
            </table>
            <button type="submit" class="btn btn-primary">Forgote Password</button>
        </form>
        
    </center>
    </body>
</html>
{% endblock %}