{% extends 'header.html' %}
{% block content %}

<html>
    <head>
        <style>
         
        </style>
    </head>
    <body>
        <center>
        <h1>New Password</h1>
        <form action="{% url 'newpassword' %}" method="post">
            {% csrf_token %}
            {% if msg %}
            <b style="color: blue;">{{msg}}</b>
            {% endif %}
            <table>
                
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="password"></td>
                </tr>
                
                
                <tr>
                    <td>Confrim Password</td>
                    <td><input type="text" name="cpassword"></td>
                </tr>
                <tr>
                    
                    <td><input type="hidden" name="email" value="{{email}}"></td>
                </tr>
                
            </table>
            <button type="submit" class="btn btn-primary">New Password</button>
        </form>
        
    </center>
    </body>
</html>
{% endblock %}