{% extends 'header.html' %}
{% block content %}

<html>
    <head>
        <style>
         
        </style>
    </head>
    <body>
        <center>
        <h1>Verify OTP</h1>
        <form action="{% url 'otp' %}" method="post">
            {% csrf_token %}
            {% if msg %}
            <b style="color: blue;">{{msg}}</b>
            {% endif %}
            <table>
                
                <tr>
                    <td>Enter Your OTP</td>
                    <td><input type="text" name="uotp"></td>
                </tr>
                <tr>
                    
                    <td><input type="hidden" name="otp" value="{{otp}}"></td>
                </tr>
                <tr>
                    
                    <td><input type="hidden" name="email" value="{{email}}"></td>
                </tr>
          
            </table>
            <button type="submit" class="btn btn-primary">Verify OTP</button>
        </form>
        
    </center>
    </body>
</html>
{% endblock %}