{% extends 'header.html' %}
{% block content %}

<html>
    <head>
        
    </head>
    <body>
        <center>
        <h1>Signup</h1>
        <form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if msg %}
            <b style="color: blue;">{{msg}}</b>
            {% endif %}
            <table>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" name="fname"></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" name="lname"></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><input type="radio"  value="male" name="gender">Male
                        <input type="radio"  value="female" name="gender">Female
                    </td>
                </tr>
                <tr>
                    <td>Mobile Number</td>
                    <td><input type="text" name="mobile"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><input type="text" name="city"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><textarea name="address"  cols="22" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="password"></td>
                </tr>
                <tr>
                    <td>Confrim Password</td>
                    <td><input type="text" name="cpassword"></td>
                </tr>
                
                <tr>
                    <td>Profile Photo</td>
                    <td><input type="file" name="profilepic"></td>
                </tr>
                
            </table>
            <button type="submit" class="btn btn-primary" >Signup</button>
        </form>
    </center>
    </body>
</html>
{% endblock %}